<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503341725027-o2bod27eo8irc7mldhdreesfugb8dnt6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503341725027-o2bod27eo8irc7mldhdreesfugb8dnt6</string>
	<key>API_KEY</key>
	<string>AIzaSyBGPCJFOf0KmQmOXx7OYMXyq9IIh3VINgw</string>
	<key>GCM_SENDER_ID</key>
	<string>503341725027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.philipphemkemeyer.Meet-Me</string>
	<key>PROJECT_ID</key>
	<string>meetme-1c961</string>
	<key>STORAGE_BUCKET</key>
	<string>meetme-1c961.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503341725027:ios:b1220f0e16167a612b8f56</string>
</dict>
</plist>